html,
body,
div#root {
  font: $body-font;
  color: $text-color;
  background: $body-color;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: $hover-color;
  }
}

h1, h3, h4 {
  font: $header-font;
  text-transform: uppercase;
  color: $title-color;
}

h3 {
  font-size: 1.3em;
}
