.container {
  .header {
    padding: 3em 3em 0 3em;
    display: flex;
    align-items: center;

    nav {
      margin: 0 0 0 auto;
      display: flex;
      text-transform: uppercase;
      justify-content: center;
      a {
        padding: 0 1em;
      }
      a.selected {
        color: $selected-color;
      }
    }
  }
  .content {
    max-width: 1200px;
    padding: 0 3em 3em 3em;
  }
}
