// space cadet colorways
$cadet-grey: #91A3B0;
$cadet-blue: #5F9EA0;
$star-command-blue: #007BB8;
$cadet: #536872;
$space-cadet: #1E2952;

$grey: #5e6464;
$sand: #cc883e;
$yellow: #f4c88c;
$sage: #a5c6b1;
$pink: #d2afae;
$eggshell: #fbefdf;

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap');

$body-font: 400 1em "Syne", sans-serif;
$header-font: 800 1em "Syne", sans-serif;
$body-color: $eggshell;
$title-color: $sand;
$link-color: $yellow;
$hover-color: $sand;
$text-color: $grey;
$selected-color: $sand;
